<?xml version="1.0"?>

<model>
  <name>Benz Amg</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jinsun-Lee</name>
    <email>012vision@gmail.com</email>
  </author>

  <description>
  	Mercedes-Benz_SLS_AMG_15
	ref. https://sketchfab.com/3d-models/toy-car-df7a2cf58a3349969844b0d4f1730437
  </description>
</model>